*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

main{
    width: 60%;
    margin: 20px auto;
}

/* input section */
section#input{
    display: flex;
    justify-content: center;
}
input {
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #555;
}

input:hover{
    border: 2px solid #002fff;
}

button {
    padding: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #555;
}
button:hover{
    background-color: #a6b4f1;
}

/* container settings */
#task_container {
    margin: 20px 0;
    border: 1px solid rgb(124, 124, 124);
    background-color: #a6b4f1;
    min-height: 100px;
}

#header_task_container {
    color: #aaa;
    background-color: #002fff;
    text-align: center;
    padding: 20px;
}

/* list element */
ul { 
    list-style: none;
}

li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
}


.fa-xmark {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}