*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






main{
    width: 60%;
    margin: 20px auto;
}

/* input section */
section#input{
    display: flex;
    justify-content: center;
}
input {
    margin-right: 10px;
}
button {
    padding: 3px;
}

/* container settings */
#task_container {
    margin: 20px 0;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 20px;
    min-height: 100px;
}

#header_task_container {
    border-radius: 20px 20px 0 0 ;
    background-color: #ccc;
    text-align: center;
}

/* list element */
ul { 
    list-style: none;
}

li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
}
